*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----------------------HEADER------------------------*/


#header{
    height: 100vh;
    color: #fff;
    background: url('../img/background.png') no-repeat bottom center scroll;
     background-size: cover;
}

.header-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 0 auto;
}

.header-nav{
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
}

.header-nav-title{
    font-family: Playfair Display, serif;
    font-weight: bold;
    font-size: 1.75em;
}
.slider-tracks{
    display: flex;
    margin: 0 0 20px 0;
}
.slider-tracks__item{
    width: 32px;
    height: 4px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 10px;

    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.slider-tracks__item:hover{
    opacity: 1;
}
.slider-tracks__item:not(:last-child){
    margin-right: 10px;
}
.slider-tracks__item--active{
    opacity: 1;
    
}
.prelude-holder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro-text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: min(80px, 8vw);
/*    line-height: 88px;*/
    width: 100%;
    max-width: 704px;
}

.intro p{
    font-weight: 400;
    font-size:  min(32px, 5vw);
    line-height: 40px;
    width: 459px;

    padding: 30px 0 60px 0;
}

.intro-button{
    position: absolute;
    bottom: 60px;
}

.intro-button_right{
    margin-left: 10px;
}

/* ----------------------MAIN------------------------*/


.main{
    background: #FFFCF6;
}

.details{
    width: 1200px;
    max-width: calc(100% - 72px);

    margin: 0 auto;
}

.first-details{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

}

.first-details img{
    width: 704px;
    max-width: 100%;

}

.first-details-text{
    margin-left: 50px;
}

.first-details-text h3 {
    font-family: Playfair Display, serif;
    font-weight: bold;
    font-size: min(56px, 6vw);
    line-height: 60px;
    margin-bottom: 40px;
    white-space: nowrap;

    color: #0B1D03;
}

.first-details-text p{
    font-size:  min(32px, 3vw);
    line-height: 40px;
    font-weight: 700;
    color: #0B1D03;
    max-width: 580px;
}
  
.last-details{
    display: flex;
    justify-content: space-between;
}

.last-details img{
    width: 560px;
    max-width: 100%;

}

.last-details-text{
    margin-right: 50px;
}

.last-details-text h3 {
    font-family: Playfair Display, serif;
    font-weight: bold;
    font-size: min(56px, 6vw);
    line-height: 60px;
    margin-bottom: 40px;
    white-space: nowrap;

    color: #0B1D03;
}

.last-details-text p{
    font-size:  min(32px, 3vw);
    line-height: 40px;
    font-weight: 700;
    color: #0B1D03;
    max-width: 580px;
}

/* ----------------------PRODUTOS------------------------*/
/*                  VARIEDADES DE CAFÉ                   */
/* ----------------------PRODUTOS------------------------*/

.produtos-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 0 auto;
    margin-top: 150px;
}

.produtos-title{
    font-family: Playfair Display, serif;
    font-size: min(56px, 6vw);
    font-weight: 700;
    color: #A0996C;
    line-height: 60px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.card{
    text-align: center;

    max-width: 410px;
    height: 504px;
    margin: 20px 20px 20px 0;
    background: #F7F1E6;
    border-radius: 8px;
}

.card-title{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 28px;
    margin: 40px;
}


.card-button{
    max-width: 355px;
    padding: 20px;
    color: white;
    border-radius: 4px;
    background: #0B1D03;
    border: none;
    margin-top: 38px;

    font-size: 1.25em;
    cursor: pointer;

    outline: none;

    transition: .2s;
}

.card-button:hover{
    /* background: #FFFCF6;
    color: #0B1D03; */
    opacity: .7;

}

.card-value{
    font-weight: 700;
    font-size: 2em;
}

.card-value::after {
    content: "R$ 60,00";
    font-weight: normal;
    text-decoration: line-through;
    font-size: .7em;
    color: #969696;
    margin-left: 10px;
 }

/* ----------------------ENTREGA------------------------*/

.entrega-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.entrega-item{
    text-align: center;
    font-size: 1.25em;
    color: #0B1D03;
    width: 240px;
}

.entrega-item:not(:last-child){
    margin-right: 20px;
}

.entrega-item p {
    font-size: min(20px, 3vw);
    
}
/* ----------------------CATALOGO------------------------*/

.catalogo-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.catalogo{
    color: #fff;
    background: url("../img/coffe.png") no-repeat;
    background-color: #969696;
    width: 604px;
    max-width: 100%;
    height: 500px;
    max-width: 100%;
    padding: 20px;
    margin: 10px;

    cursor: pointer;

    transition: .5s;

}
.catalogo:hover{
    opacity: .7;
}

.catalogo h2{
    margin-top: 350px;
    font-family: Playfair Display, serif;
    font-size: min(56px, 6vw);
    line-height: 60px;
    white-space: nowrap
}

.catalogo p{
    font-size: min(20px, 3vw);
    max-width: 451px;
    margin-top: 20px;
}
.acessorios{
    color: #fff;
    background: url("../img/garrafa.png") no-repeat;
    width: 604px;
    min-width: 240px;
    max-width: 100%;
    height: 500px;
    padding: 20px;
    margin: 10px 10px 40px 40px;
    
    cursor: pointer;

    transition: .5s;
}
.acessorios:hover{
    opacity: .7;
}

.acessorios h2{
    margin-top: 350px;
    font-family: Playfair Display, serif;
    font-size: min(56px, 6vw);
    line-height: 60px;
}

.acessorios p{
    font-size: min(20px, 3vw);
    max-width: 451px;
    margin-top: 20px;
}

/* ----------------------ADDRESS------------------------*/

.address-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 100px auto;
}

.address-mapa img{
    max-width: 100%;
}


/* ----------------------ADDRESS------------------------*/

.footer-container{
    width: 1200px;
    max-width: calc(100% - 72px);
    margin: 100px auto;
}